In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df= pd.read_csv('weather_data\City_Data.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Aboisso,CI,2022-03-24 13:35:34,5.4678,-3.2071,91.36,53,89,11.05
1,1,Miquelon,PM,2022-03-24 13:35:34,47.0975,-56.3814,35.60,76,32,22.06
2,2,Bredasdorp,ZA,2022-03-24 13:35:35,-34.5322,20.0403,74.25,54,6,18.07
3,3,Busselton,AU,2022-03-24 13:35:35,-33.6500,115.3333,67.91,44,0,12.50
4,4,Ribeira Grande,PT,2022-03-24 13:35:35,38.5167,-28.7000,61.20,77,75,21.85

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
             dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
prefered_city_df=city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>= min_temp)]

In [12]:
prefered_city_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Sao Felix Do Xingu,BR,2022-03-24 13:35:35,-6.6447,-51.9950,79.07,91,100,3.44
6,6,Bambous Virieux,MU,2022-03-24 13:35:36,-20.3428,57.7575,84.45,74,40,9.22
10,10,Rocha,UY,2022-03-24 13:35:26,-34.4833,-54.3333,78.49,64,49,10.45
11,11,Tabou,CI,2022-03-24 13:35:37,4.4230,-7.3528,85.46,68,42,8.99
12,12,Saint-Philippe,RE,2022-03-24 13:35:37,-21.3585,55.7679,83.79,83,57,10.16
...,...,...,...,...,...,...,...,...,...,...
533,533,Hobyo,SO,2022-03-24 13:50:03,5.3505,48.5268,82.67,71,0,13.96
535,535,Nsukka,NG,2022-03-24 13:50:04,6.8561,7.3927,89.73,25,93,0.58
540,540,Tanga,TZ,2022-03-24 13:50:06,-5.0667,39.1000,86.50,65,1,14.97
544,544,Nisia Floresta,BR,2022-03-24 13:50:08,-6.0911,-35.2086,84.58,65,88,9.15
545,545,Meulaboh,ID,2022-03-24 13:50:09,4.1363,96.1285,80.28,83,88,3.33

In [13]:
prefered_city_df.count()

City_ID       201
City          201
Country       196
Date          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

In [14]:
prefered_city_df.isnull().sum()

City_ID       0
City          0
Country       5
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [15]:
prefered_city_df.notnull().sum()

City_ID       201
City          201
Country       196
Date          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

In [16]:
# Dropped if any null
prefered_city_df=prefered_city_df.dropna()

In [17]:
prefered_city_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [18]:
prefered_city_df.notnull().sum()

City_ID       196
City          196
Country       196
Date          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
dtype: int64

In [45]:
hotel_df=  prefered_city_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

C:\Users\valla\AppData\Local\Temp/ipykernel_29964/1052789560.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

                        City Country  Max Temp      Lat      Lng Hotel Name
5         Sao Felix Do Xingu      BR     79.07  -6.6447 -51.9950
6            Bambous Virieux      MU     84.45 -20.3428  57.7575
10                     Rocha      UY     78.49 -34.4833 -54.3333
11                     Tabou      CI     85.46   4.4230  -7.3528
12            Saint-Philippe      RE     83.79 -21.3585  55.7679
14                    Touros      BR     86.14  -5.1989 -35.4608
15                   Nampula      MZ     87.75 -15.1165  39.2666
17                  Amangarh      PK     86.61  34.0058  71.9300
18  Sao Jose Da Coroa Grande      BR     84.11  -8.8978 -35.1478
23           Arraial Do Cabo      BR     84.16 -22.9661 -42.0278

In [49]:
# Iterate through the DataFrame.

params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [60]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Sao Felix Do Xingu,BR,79.07,-6.6447,-51.9950,Rio Xingu Camping
6,Bambous Virieux,MU,84.45,-20.3428,57.7575,Casa Tia Villa
10,Rocha,UY,78.49,-34.4833,-54.3333,Hotel Arrarte
11,Tabou,CI,85.46,4.4230,-7.3528,hotêl doufoulougou
12,Saint-Philippe,RE,83.79,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
14,Touros,BR,86.14,-5.1989,-35.4608,INN NEW HORIZON
15,Nampula,MZ,87.75,-15.1165,39.2666,Ruby Backpackers
17,Amangarh,PK,86.61,34.0058,71.9300,Sartaj Gul Home Stay
18,Sao Jose Da Coroa Grande,BR,84.11,-8.8978,-35.1478,Crôa Mares Hotel
23,Arraial Do Cabo,BR,84.16,-22.9661,-42.0278,Pousada Porto Praia

In [58]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))