## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:\Rutgers\API_Module_6\World_Weather_Analysis\Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Cayenne,GF,80.10,broken clouds,4.9333,-52.3333,Hôtel Le Dronmi
1,10,Touros,BR,79.48,light rain,-5.1989,-35.4608,INN NEW HORIZON
2,18,San Carlos Del Zulia,VE,78.30,few clouds,9.0000,-71.9135,Hotel El Manantial
3,23,Mahebourg,MU,78.26,clear sky,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,25,Quatre Cocos,MU,78.10,few clouds,-20.2078,57.7625,Sunrise Attitude Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df['City'] =='Floresta']
vacation_end_df = vacation_df.loc[vacation_df['City'] =='Floresta']
vacation_stop1_df = vacation_df.loc[vacation_df['City'] =='Sao Jose Da Coroa Grande']
vacation_stop2_df = vacation_df.loc[vacation_df['City'] =='Olinda']
vacation_stop3_df = vacation_df.loc[vacation_df['City'] =='Pitimbu']

In [6]:
vacation_start_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
121,528,Floresta,BR,75.92,overcast clouds,-8.6011,-38.5686,Hotel Floresta

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = [tuple(r) for r in  vacation_start_df[['Lat','Lng']].to_numpy()][0]
end =   [tuple(r) for r in  vacation_end_df[['Lat','Lng']].to_numpy()][0]
stop1 = [tuple(r) for r in  vacation_stop1_df[['Lat','Lng']].to_numpy()][0]
stop2 = [tuple(r) for r in  vacation_stop2_df[['Lat','Lng']].to_numpy()][0]
stop3 = [tuple(r) for r in  vacation_stop3_df[['Lat','Lng']].to_numpy()][0]

In [8]:
stop2

(-8.0089, -34.8553)

In [9]:
gmaps.configure(g_key)
fig = gmaps.figure()
itinerary =gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode='BICYCLING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

ValueError: No objects to concatenate

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure